.content-main{
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 100px;
}
.term-message,.eva-template{
  .content-form{
    width: 100%;
    padding: 10px 20px;
  }

}
.modal-message{
  .num{
    text-align: right;
    margin-top: 10px;
  }
  .msgDedail{
    margin-bottom: 20px;
    .title{
      margin-bottom: 10px!important;
    }
  }
}
.modal-editScore{
  .ant-form-item{
    margin-bottom: 10px;
  }
}
.add-evaluation-template{
  .form{
    margin:30px 0 20px 0;
    .allGrade{
      margin-left: 14.5%;
      .grade{
        margin-bottom:20px;
      }
    }
    .btn{
      text-align: right;
      margin:50px 34px 0 0;
    }
    
  }
}
// 等级设置
.score-level-list{
  .form{
    margin-left: 10%;
    .text{
      padding:0 !important;
      line-height: 32px;
      .icon{
        color:#1890FF;
        font-size:20px;
        padding-left: 20px;
      }
    }
    .text-right{
      text-align: right;
    }
    .inputPadding{
      padding-left: 0 !important;
    }
    .select-width{
      width:92px !important;
    }
    .row-item{
      margin-left: 26%;
      margin-top: 30px;
    }
  }
}
// 模板管理
.show-template{
  .btn{
    margin-bottom:20px;
    button{
      margin-right: 10px;
    }
  }
  .templateTable{
    min-width: 1000px;
    max-width: 1250px;
    th,td{
        padding: 5px 10px;
        min-width: 100px;
        max-width: 300px;
    }
    thead>tr{
        th{
            height:50px;
            text-align: center;
            min-width: 100px;
        }
    }
    tbody>tr{
        td{
            text-align: left;
            overflow-wrap: break-word;
        }
    }
    .point{
        width:35%;
    }
    .chartIcon{
      width:40px;
      height:40px;
      margin-left: 10px;
    }
  }
}