
html, body, :global(#root) {
  height: 100%;
}
.ajax-loading{
  display: none;
  overflow: hidden;
  z-index: 9999999999;
}

.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding:0 40px;
  height: 80px;
  line-height: 80px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  text-align: center;
  z-index: 999999999;
  font-size:14px;
  color:#fff;
}
.btnBox{
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999999999;
}
.ajax-loading span{
  margin-left:12px;
}
.ajax-loading .loading .img{
  width: 32px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
  background-image: url(./assets/loading.gif);
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.ajax-loading .overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999998;
  background: rgb(255, 255, 255);
  opacity: 0.1;
}


#ajaxLoading1{
  display: block;
}
#ajaxLoading1 .overlay,#ajaxLoading2 .overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999998;
  background: rgb(0, 0, 0);
  opacity: 0.4;
}

.tooltip-content{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: inline-block;width: 100px;}
