<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>乐陪校园综合管理平台</title>
  <!-- <link rel="stylesheet" href="./index.css" /> -->
</head>
<body>

  <div id="root"></div>
  <div class="ajax-loading" id="ajaxLoading" style="display: none;">
    <div class="overlay"></div>
    <div class="loading">
      <div class="img"></div>
      <span>加载中，请稍后...</span>
    </div>
  </div>

  <div class="ajax-loading" id="ajaxLoading1" style="display: none;">
    <div class="overlay"></div>
    <div class="loading">
      <div class="img"></div>
      <span>注册中，请稍后...<span id="time"></span></span>
    </div>
  </div>
  <div class="ajax-loading" id="ajaxLoading2" style="display: none;">
    <div class="overlay"></div>
    <div class="loading">
      <div class="img"></div>
      <span id="time1"></span>
    </div>
  </div>
  

</body>
<script>

</script>
</html>
