.content-main {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0!important;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}
.content-main .ant-breadcrumb {
  padding: 10px 0;
  padding-left: 10px;
}
.content-main .ant-row-fun {
  margin-bottom: 24px;
}
.edit-accident {
  background-color: #fff;
}
.edit-accident .ant-form-item {
  margin-bottom: 12px;
}
.edit-accident .person-select {
  width: 85%;
  height: 80px;
  margin-right: 20px;
}
.ftColor {
  color: #1890FF;
}
.cursor {
  cursor: pointer;
}
.stu-statistics .ant-form-item-control {
  line-height: 0;
}
.charts-box {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  margin-top: 20px;
}
